@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');

body{
  background-color: red;
}

.container{
  background-color: white;
  width: 400px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-top: 70px;
  border: 1px solid #C34C89;
  border-radius: 15px;
  margin: 50px;
  margin-right: auto;
  margin-left: auto;
}

h1{
  text-align: center;
  padding-bottom: 30px;
  font-family: 'Domine', serif

}

input {
  width: 270px;
  padding: 15px;
  background-color: #E7E7E7;
  border: none;
}

.icon{
  position: absolute;
  
}

button {
  width: 270px;
  padding: 15px;
  background-color: #C34C89;
  border: none;
  margin-top: 30px;
  color: white;
}


p{
  color: #B7B7B7;
}

a{
  color: #B7B7B7;
}

button:hover{
  background-color: #BC2874;
  cursor: pointer;
}