<div class="container">
    <h1>Sign Up</h1>
    <input type="text" placeholder="Name">
    <p class="error">
        Name is required!
    </p>
    <input type="email" placeholder="Email">
    <!-- <p class="error">
                    Email is required!
                </p>
                <p class="error">
                    Email is not valid!
                </p> -->
    <input type="password" placeholder="Password">
    <!-- <p class="error">
                    Password is required!
                </p>
                <p class="error">
                    Password must be at least 4 characters!
                </p> -->
    <input type="password" placeholder="Confirm password">
                <!-- <p class="error">Passwords don't match!</p> -->
                
    <button type="submit" class="hover">Sign Up</button>
    <p>Already a member? <a routerLink="/login">Log in</a></p>
  </div>