<div class="container">
    <div class="container-title">
      <p>Let's create your new review</p>
    </div>
    <div class="review-title">
      <textarea class="title" placeholder="The title of your review"></textarea>
    </div>
    <div class="content">
      <textarea class="content" placeholder="The content of your review"></textarea>
    </div>
     <div class="file-area">
        <div class="default">Upload a cover photo for your review</div>
    </div>
    <div class="buttons">
      <button class="cancel">Cancel</button>
      <button class="publish">Publish</button>
    </div>
  </div>