@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');


header {
    background: rgb(195,76,137);
    background: linear-gradient(150deg, rgba(195,76,137,1) 38%, rgba(199,196,244,1) 100%);
}

li{
    list-style: none;
    display: inline;
    margin: 20px;
    font-weight: bold;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: white;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

p.logo{
    color: white;
    font-family: 'Domine', serif;
    font-weight: 600;
    font-size: 40px;
    margin-right: 10px;
}
