<div class="container">
    <div>
      <img src="https://img.freepik.com/free-vector/copywriting-illustration_335657-4674.jpg?w=740&t=st=1690625391~exp=1690625991~hmac=50e6d768c50b7a99aba35326e46f2c72fa8fcb0e8f9485f2f7e52aa9d4dc9d14">
    </div>
    <div class="content">
      <h2>Blogstagram</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec massa euismod, lacinia sapien et, scelerisque nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      <div class="buttons">
        <button class="login">Login</button>
        <button class="register">Sign up</button>
      </div>
    </div>
  </div>