<div *ngIf="thereAreNoReviews">
    <h3>There are no reviews!</h3> <!--zasega ne sraboti-->
</div>
<div>
    <!--
    <ul>
        <li *ngFor="let review of reviews">
        {{review.title}}
        </li>
      </ul>
    -->
    <section class="container">
        <div class="cards-area">
            <div class="card" *ngFor="let review of reviews">
                <img src="{{review.photo_url}}">
                <div class = "card-content">
                    <a href="#"></a>
                    <h2>{{review.author}}</h2>
                    <h3>{{review.title}}</h3>
                    <p>
                        {{review.content}}
                    </p>
                    <div class="card-footer">
                        <div class="image-container">
                            <img src="">
                        </div>
                        <p>{{review.date}}</p>
                        <p>5 min read</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
